<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Forbidden</title>
</head>
<body>
    <h1>Error 403 - Forbidden</h1>
    <p>Accesso negato. Non hai i permessi per accedere a questa risorsa.</p>
    <p><strong>Sarai reindirizzato alla tua pagina home entro 5 secondi.</strong></p>
            
    <p><a href="/ChargingStation/Welcome/Admin">Login as Admin</a></p>
    
    <script src="/Error-403-Admin.js"></script>
</body>
</html>
